//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Document
//-         link(rel="stylesheet", href="/tailwind.css")

//-     body 
//-         h2 documents page
//-         each doc in documents 
//-             div= doc.question
//-         form(id='send')
//-             input(type="text", placeholder='quest')
//-             input(type="text", placeholder='title')
//-             button(type="submit") submit
//-     script(src="/script.js") 